#daysOfWeek-container {
  position: absolute;
  margin-top: 100px;
  margin-left: 24px;
  position: absolute;
}

.dayOfWeek-label {
  margin-left: 10px;
  font-size: 56px;
  font-family: ProximaNovaBold, sans-serif;
}

#task-title {
  font-size: 30px;
}

@media (prefers-color-scheme: dark) {
  .dayOfWeek-label {
    color: white;
  }
  #task-title {
    color: white;
  }

}
