.task-item {
  display: none;
}

#coming-soon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  top: 40%;
  color: black;
  font-size: 100px;
  text-align: center;
  font-family: ProximaNovaBold, sans-serif;
}

#description {
  text-align: center;
  margin-left: 10px;
  border: 1.5px solid #FF2D55;
  border-radius: 6px;
  padding: 8px 10px;
  background-color: #FF2D550D;
  color: #FF2D55;
  font-size: 30px;
}

@media (prefers-color-scheme: dark) {
  #navbar-home {
    color: white;
  }
  #navbar-calendar {
    color: white;
  }
    #title {
      color: white;
    }
}
